<suite name="Suite">
	<test name="Test">
		
		<parameter name="gridURL" value="${gridURL}" />
		<parameter name="browser" value="${browser}" />
		<parameter name="appURL" value="${appURL}" />
		<parameter name="htmlpath" value="${htmlpath}" />
		<parameter name="pptfile" value="${pptfile}" />
		<packages>
			<package name="script" />
		</packages>
	</test>	
</suite> 
